/*SUB HEADER START*/
/*.sub-header-container{
  height: 7em;
  width: 100%;
  background: #F7F7F7;
}*/
/*SUB HEADER END*/

/*MID PIC START*/
.mid-section-container{
  /*border: blue solid;*/
  display: flex;
  flex-wrap: wrap;
}
.mid-section{
  /*border: green solid;*/
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
}
#pink-macbook-pic-container {
  height: 45em;
  background-image: url("../Mac/mac-pics/pick-macbook-pic.jpg");
  background-size: 350px 430px;
  background-position:30% 80%;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
}
.pink-macbook-new{
  border: #f46c0e 1px solid;
  height: 25px;
  width: 48px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f46c0e;
  font-size: 13px;
  margin-top: 70px;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  display: none;
}
.macbook-paragraph{
  font-size: 40px;
  margin-top: 15px;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}
.light-years-ahead-paragraph{
  font-size: 28px;
  margin-top: 3px;
  font-family: 'Source Sans Pro';
  font-weight: 200;
}
.learn-more-container{
  width: 143px;
  height: 30px;
  /*border: blue solid;*/
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  color: #70BCE2;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 17px;
}
#learn-more-container-two{
  justify-content: center;
  /*border: red solid;*/
}

#more-power-behind-every-pixel-container {
  height: 24em;
  background-image: url("../Mac/mac-pics/more-power-behind-every-pixel.jpg");
  background-size: 320px 190px;
  background-position:30% 70%;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
}


#all-the-power-you-want-all-day-long-container{
  height: 25em;
  background-image: url("../Mac/mac-pics/all-the-power-you-want-all-day-long.png");
  background-size: 320px 190px;
  background-position:30% 70%;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
}


#Retina-now-in-colossal-container{
  height: 40em;
  background-image: url("../Mac/mac-pics/Retina-now-in-colossal.jpg");
  background-size: 400px 300px;
  background-position:40% 65%;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
}


#Compare-mac-models-container{
  height: 23.5em;
  background-image: url("../Mac/mac-pics/Compare-mac-models.jpg");
  background-size: 350px 150px;
  background-position:40% 41%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #D3D3D3;
}
.best-mac-paragraph{
/*border: blue solid;*/
width: 200px;
margin-bottom: 35px;
}


#Pick-up-at-the-apple-store-today-container{
  height: 26.5em;
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
}
.apple-icon-class{
height: 35px;
width: 32px;
margin-top: 40px;
margin-bottom: 8px;
}
.pick-up-in-an-hr-paragraph{
line-height: 130%;
margin-top: 7px;
font-weight: 300;
}

.sub-apple-store-today-container{
  height: 13.2em;
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-weight: 200;
}
.sub-two-day-shipping-container{
  height: 13.3em;
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-weight: 200;
}


#accessories-for-mac{
  height: 21em;
  background-image: url("../Mac/mac-pics/accessories-for-mac-pic.png");
  background-size: 500px 100px;
  background-position:40% 70%;
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}


#calm-container{
  height: 12.5em;
  background-image: url("../Mac/mac-pics/calm.png");
  background-size: 450px 190px;
  background-position:40% 41%;
  display: none;
}


#os-x-el-capitan-container{
  height: 46em;
  border-bottom: solid 1px #D3D3D3;
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
}
.os-x-pic-class{
  width: 60px;
  height: 60px;
  margin-top: 45px;
  margin-bottom: 15px;
}

.iCloud-pic-class{
  margin-top: 120px;
}
#mac-os-sierra{
  height: 33em;
  background-image: url("../Mac/mac-pics/mac-os-sierra.jpg");
  background-size: 450px 195px;
  background-position:40% 95%;
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
}
.coming-this-fall-red{
  width: 100px
}
#built-in-apps-container{
  height: 43em;
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
}
.mac-pics-picture{
width: 280px;
height: 220px;
margin-top: 18px;
}

.photos-pic-photos-paragraph-container{
  border: red solid;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.photos-pic-picture{
height: 75px;
width: 75px;
}

/*#imac-photos-container{
}*/
#pro-apps-container{
  height: 41em;
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
}
/*#final-cut-pro-container{

}*/
#mac-for-education-container{
  height: 37em;
  background-image: url("../Mac/mac-pics/mac-for-education.jpg");
  background-position: center;
  background-size: 450px 290px;
  /*background-position:40% 41%;*/
}
#mac-for-business-container{
  height: 37em;
  background-image: url("../Mac/mac-pics/mac-for-business.jpg");
  background-position: center;
  background-size: 680px 290px;
}
#mac-free-workshops-container{
  height: 37em;
  background-image: url("../Mac/mac-pics/mac-free-workshops.jpg");
  background-position: center;
  background-size: 680px 290px;
}


/*MID PIC END*/
#pink-macbook-pic-container {
  height: 60em;
  background-image: url("../Mac/mac-pics/pick-macbook-pic.jpg");
  background-size: 850px 930px;
  background-position:5% 80%;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1070px) {

  .macbook-paragraph{
    font-size: 50px;
    margin-top: 280px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
  }
  #more-power-behind-every-pixel-container {
    height: 34em;
    background-image: url("../Mac/mac-pics/more-power-behind-every-pixel.jpg");
    background-size: 650px 400px;
    background-position:85% 70%;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
  }
  #all-the-power-you-want-all-day-long-container{
    height: 30em;
    background-image: url("../Mac/mac-pics/all-the-power-you-want-all-day-long.png");
    background-size: 620px 490px;
    background-position:30% 70%;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
  }
  #Retina-now-in-colossal-container{
    height: 45em;
    background-image: url("../Mac/mac-pics/Retina-now-in-colossal.jpg");
    background-size: 700px 450px;
    background-position:100% 65%;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
  }
  #Compare-mac-models-container{
    height: 23.5em;
    background-image: url("../Mac/mac-pics/Compare-mac-models.jpg");
    background-size: 750px 350px;
    background-position:0% 41%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #D3D3D3;
  }
  #Pick-up-at-the-apple-store-today-container{
    height: 26.5em;
    display: flex;
    justify-content:space-around;;
    flex-direction: row;
  }
  #accessories-for-mac{
    height: 26em;
    background-image: url("../Mac/mac-pics/accessories-for-mac-pic.png");
    background-size: 870px 300px;
    background-position:40% 70%;
    display: flex;
    /*justify-content: flex-end;*/
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  #mac-for-education-container{
    height: 37em;
    background-image: url("../Mac/mac-pics/mac-for-education.jpg");
    background-position: center;
    background-size: cover;
    /*background-position:40% 41%;*/
    margin-bottom: 5px;
  }
  #mac-for-business-container{
    height: 37em;
    background-image: url("../Mac/mac-pics/mac-for-business.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
  }
  #mac-free-workshops-container{
    height: 37em;
    background-image: url("../Mac/mac-pics/mac-free-workshops.jpg");
    background-position: center;
    background-size: cover;
  }
}
