.tv-grid-pic-container{
/*overflow: hidden;*/
}

.tv-grid-sliding-background{
  height: 650px;
  width: 5076px;
  background-image: url("../tv/TV-pics/tv-picture-grid.jpg");
  background-repeat: repeat-x;
  background-size: 3350px 650px;
  /*background-size: 500px 100px;*/
  animation: slide 45s linear infinite;
  /*-webkit-animation: slide 60s linear infinite;*/
  /*background-position: left 0px, bottom 0px;*/
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }

/*@-webkit-keyframes {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }*/



/*height: 50vh;
width: 100%;
background-size: cover;*/
